
MatrizEsparsa/.vs/MatrizEsparsa/v15/.suo
MatrizEsparsa/MatrizEsparsa/obj/Debug/MatrizEsparsa.csproj.CoreCompileInputs.cache
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-wal
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-shm
