
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-shm
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-wal
MatrizEsparsa/MatrizEsparsa/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-wal
MatrizEsparsa/.vs/MatrizEsparsa/v15/Server/sqlite3/storage.ide-shm
